* {
  margin: 0;
}
/*N A V B A R*/
.nav {
  display: flex;
  position: sticky;
  top: 0;
  height: 7vh;
  width: 100%;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  background-color: white;
  z-index: 999;
}
.navLeft,
.navRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navCenter {
  flex: 6;
}
.navIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}
.navIcon:hover {
  color: grey;
}
.navList {
  display: flex;
  list-style: none;
  justify-content: center;
}
.navItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}
.navItem:hover {
  color: gray;
}
.navImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
}
.navSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}

/*H E A D E R*/
.header {
  margin-top: 60px;
}
.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  color: #444;
}
.titlesm {
  position: absolute;
  top: 18%;
  font-size: 20px;
}
.titlelg {
  position: absolute;
  top: 22%;
  font-size: 100px;
}
.headerImg {
  width: 100%;
  height: 450px;
  margin-top: 75px;
  object-fit: cover;
}
/*H O M E*/
.home {
  display: flex;
}

/* S I D E B A R */
.sidebar {
  flex: 3;
  height: fit-content;
  margin-top: 2em;
  margin-right: 1.5em;
  padding-bottom: 30px;
  background-color: #fdfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
}
.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sideTitle {
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: solid 1px #a7a4a4;
  border-bottom: solid 1px #a7a4a4;
  font-size: 14px;
  line-height: 19px;
  color: #222222;
  font-weight: 600;
}
.sidebarItem > img {
  margin-top: 15px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.sidebarItem > p {
  padding: 20px;
  line-height: 1.5em;
}
.sideList {
  list-style-type: none;
  margin-bottom: 30px;
}
.sideListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}
.sidebarIcon {
  font-size: 16px;
  margin-left: 10px;
}

/*P O S T S*/
.posts {
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  margin-left: 1.5em;
  text-align: center;
}
/* P O S T*/
.post {
  width: 385px;
  margin: 0px 25px 40px 25px;
  display: flex;
  flex-direction: column;
}
.postImg {
  width: 385px;
  height: 280px;
  object-fit: cover;
  border-radius: 7px;
}
.postDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postCateg {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: green;
  line-height: 19px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}
.postTitle {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-top: 15px;
  cursor: pointer;
}
.postDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 13px;
  font-weight: 400;
  color: #999999;
  margin-top: 10px;
}
.postDescription {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #444444;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* SINGLE POST PAGE*/
.postPage {
  display: flex;
}
.singlePostDetails {
  flex: 9;
  margin-top: 2em;
}
.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
}
.singlePostImg {
  width: 100%;
  height: 50vh;
  border-radius: 5px;
  object-fit: cover;
}
.singlePostTitle {
  margin: 10px;
  font-size: 28px;
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}
.singlePostActions {
  float: right;
  font-size: 16px;
}
.spostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.spostIcon:first-child {
  color: teal;
}
.spostIcon:last-child {
  color: tomato;
}
.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: grey;
  font-family: "Lora", "Sans Serif";
}
.singlePostAuthor {
  margin-left: 5px;
}
.singlePostDesc {
  color: #444;
  font-size: 18px;
  line-height: 25px;
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}
/* C R E A T E  P A G E*/
.create {
  margin: 50px 150px 0 150px;
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}
.createImg {
  width: 70vw;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}
.createForm {
  position: relative;
}
.inputIcon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid rgb(129, 125, 125);
  border-radius: 50%;
  color: rgb(129, 125, 125);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
}
.createInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}
.createInput::placeholder {
  color: rgb(189, 185, 185);
  font-weight: 400;
}
.createInput:focus {
  outline-style: none;
}
.textInput {
  width: 70vw;
  height: 100vh;
  font-family: inherit;
  font-size: 20px;
}

.puplishBtn {
  position: absolute;
  top: 20px;
  right: 60px;
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}

/*U P D A T E  P R O F I L E*/
.updateProf {
  display: flex;
}
.updateProfWrapper {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  width: 70vw;
  margin: 0 auto;
  padding: 2em;
}
.profSettings {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.updateTitle {
  font-size: 30px;
  margin-bottom: 20px;
  color: teal;
}

.deleteProf {
  color: red;
  font-size: 12px;
  cursor: pointer;
}
.updateForm {
  display: flex;
  flex-direction: column;
}
.updatePP {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.updatePP > img {
  height: 100px;
  width: 100px;
  border-radius: 20px;
  object-fit: cover;
}
.updatePPIcon {
  width: 25px;
  height: 25px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  margin-left: 10px;
  color: white;
  background-color: lightcoral;
  cursor: pointer;
}
.updatePPInput {
  width: 30%;
}
.updateForm > label {
  font-size: 20px;
  margin-top: 20px;
}
.updateForm > input {
  color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}
.updateProfBtn {
  align-self: center;
  width: 150px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: teal;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.updateProfBtn:hover {
  background-color: rgb(1, 114, 114);
}
.updateProfBtnfocus {
  outline-style: none;
}
