* {
  margin: 0;
}
/*N A V B A R*/
.nav {
  display: flex;
  position: sticky;
  top: 0;
  height: 7vh;
  width: 100%;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
}
.navLeft,
.navRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navCenter {
  flex: 6;
}
.navIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}
.navIcon:hover {
  color: grey;
}
.navList {
  display: flex;
  list-style: none;
  justify-content: center;
}
.navItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}
.navItem:hover {
  color: gray;
}
.navImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
}
.navSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}

/*H E A D E R*/
.header {
  margin-top: 60px;
}
.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  color: #444;
}
.titlesm {
  position: absolute;
  top: 18%;
  font-size: 20px;
}
.titlelg {
  position: absolute;
  top: 22%;
  font-size: 100px;
}
.headerImg {
  width: 100%;
  height: 450px;
  margin-top: 75px;
  object-fit: cover;
}
